@import "~bulma/sass/utilities/_all";

$mq-breakpoints: (
  mobile: 768px,
  tablet: 769px,
  desktop: 1024px,
  wide: 1216px,
  fullhd: 1408px,
);

@import "~sass-mq";

$primary: #ff6d01;
$primary-invert: findColorInvert($primary);
$secondary: #4a84ad;
$secondary-invert: findColorInvert($secondary);

$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
  "secondary": (
    $secondary,
    $secondary-invert,
  ),
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
}

/* Início dos main styles */
* {
  font-family: Poppins, sans-serif !important;
}

html,
body {
  height: 100%;
}

a:hover {
  color: #ff6d01;
}

.page-content {
  height: 100%;
  width: 100%;

  @include mq($until: $tablet) {
    width: 100% !important;
  }
}

.body-padding {
  padding: 20px;
}

.main-content {
  margin-top: 70px;
}

.grow-hover {
  transition: 0.3s;
}

.grow-hover:hover {
  transform: scale(1.04);
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

@media screen and (max-width: 767px) {
  .body-padding {
    padding: 10px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(0.95);
  }
}

.container-home {
  padding: 0 1rem;
}
